<p id="notice"><%= notice %></p>
<div class="title-container">
<h1>Tenants</h1>
<%= link_to "New Tenant", new_tenant_path, class: "btn btn-default" %>
</div>

<div class="tenants">
  <% @tenants.each do |tenant| %>
  <div class="tenant">
    <div class="thumbnail">
    <div class="caption">
      <strong>Name: </strong><p><%= tenant.first_name %> <%= tenant.last_name %></p>
      <strong>Email: </strong><p><%= tenant.email %></p>
      <strong>Property: </strong><p><%= link_to tenant.property.street_1, property_path(tenant.property) %></p>
      <p><%= link_to 'View Details', tenant %></p>
      <p><%= link_to 'Edit', edit_tenant_path(tenant) %></p>
      <p><%= link_to 'Remove Tenant', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    </div>
    </div>
  <% end %>
</div>


<br>
