<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.first_name %> <%= @tenant.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Property:</strong>
  <%= @tenant.property.street_1 %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
