<p id='alert'><%= alert %></p>
<div class="title-container">
<h1>Welcome back! Log in below.</h1>
</div>

<%= form_tag sessions_path do |form| %>
  <div class='field'>
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, class: "form-control"%>
  </div><br>
  <div class='field'>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: "form-control"%>
  </div><br>
  <div class="field">
    <%= label_tag :Category %><br>
    <%= select_tag :category,  options_for_select(["Landlord", "Contractor"], "Landlord"), class: "form-control"%>
  </div><br>
  <div class='actions'>
    <%= submit_tag 'Login', class: "btn btn-primary"%>
  </div>
<% end %>
