
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A comment has been added to the following bid:
      <h2><%= @bid.maintenance_request.title %></h2>
      <p>Comment: <%= @comment.body %></p>
      <small>Submitted by
    <% if @comment.user_id %>
    <%= User.find_by_id(@comment.user_id).first_name %> <%= User.find_by_id(@comment.user_id).last_name %>
    <% elsif @comment.contractor_id %>
    <%= Contractor.find_by_id(@comment.contractor_id).company %>
    <% end %>
      </small>
    <p>
      To reply to this comment, please follow this link: <%= @url %>.
    </p>
  </body>
</html>
