<%= form_with(model: maintenance_request, local: true) do |form| %>
  <% if maintenance_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance_request.errors.count, "error") %> prohibited this maintenance_request from being saved:</h2>

      <ul>
      <% maintenance_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Category %>
    <%= form.select :category, ['Landscaping', 'Plumbing', 'HVAC', 'Electricity', 'Locks / Security', 'Floors', 'Windows', 'Pests', 'Miscellaneous'], class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :resolved %>
    <%= form.select :resolved, [true, false], class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :property %>
    <%= select_tag "maintenance_request[property_id]", options_from_collection_for_select(current_user.properties, "id", "street_1"), class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
