<p id="notice"><%= notice %></p>

<h1>Maintenance Requests</h1>

<h4>Open Requests</h4>
<table>
  <thead>
    <tr>
      <th>Created At:</th>
      <th>Category</th>
      <th>Description</th>
      <th>Title</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_requests.each do |maintenance_request, resolved| %>
      <% next unless maintenance_request.resolved == false %>
      <tr>
        <td><%= maintenance_request.created_at %></td>
        <td><%= maintenance_request.category %></td>
        <td><%= maintenance_request.description %></td>
        <td><%= maintenance_request.title %></td>
        <td><%= maintenance_request.property.street_1 %></td>
        <td><%= link_to 'View Details', maintenance_request %></td>
        <td><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></td>
        <td><%= link_to 'Delete Request', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Resolved Requests</h4>
<table>
  <thead>
    <tr>
      <th>Created At:</th>
      <th>Category</th>
      <th>Description</th>
      <th>Title</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_requests.each do |maintenance_request| %>
    <% next unless maintenance_request.resolved == true %>
      <tr>
        <td><%= maintenance_request.created_at %></td>
        <td><%= maintenance_request.category %></td>
        <td><%= maintenance_request.description %></td>
        <td><%= maintenance_request.title %></td>
        <td><%= maintenance_request.property.street_1 %></td>
        <td><%= link_to 'View Details', maintenance_request %></td>
        <td><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></td>
        <td><%= link_to 'Delete Request', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance Request', new_maintenance_request_path %>
