<% if current_user %>

<p id="notice"><%= notice %></p>
<div class="title-container">
<h1>Maintenance Requests</h1>
<%= link_to "New Request", new_maintenance_request_path, class: "btn btn-default" %>
</div>


<h4>Open Requests</h4>
<div class="requests">
  <% @maintenance_requests.each do |maintenance_request, resolved| %>
    <% next unless maintenance_request.resolved == false %>
<div class="request">
  <div class="thumbnail">
  <div class="caption">
    <strong>Created At: </strong><p><%= maintenance_request.created_at.strftime("%F %H:%M") %></p>
    <strong>Category: </strong><p><%= maintenance_request.category %></p>
    <strong>Title: </strong><p><%= maintenance_request.title %></p>
    <strong>Description: </strong><p><%= maintenance_request.description %></p>
    <strong>Property: </strong><p><%= maintenance_request.property.street_1 %></p>
    <p><%= link_to 'View Potential Contractors', maintenance_request %></p>
    <p><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></p>
    <p><%= button_to 'Resolve Request', resolve_maintenance_request_path(maintenance_request), method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></p>
  </div>
  </div>
  </div>
  <% end %>
  </div>

  <h4>Bids You've Received</h4>
  <div class="requests">
    <% current_user.bids.each do |bid, approved| %>
  <% next unless bid.approved == false && bid.maintenance_request.contractor_id == nil %>
  <div class="request">
    <div class="thumbnail">
    <div class="caption">
      <strong>Request: <%= link_to bid.maintenance_request.title, maintenance_request_path(bid.maintenance_request) %></strong><br></br>
      <strong>Request Created At: </strong><p><%= bid.created_at.strftime("%F %H:%M") %></p>
      <strong>Cost of Job: </strong><p><%= number_to_currency(bid.price) %></p>
      <strong>Contractor's Availability: </strong><p><%= bid.availability %></p>
      <strong>Other Notes: </strong><p><%= bid.notes %></p>
      <h4>Contractor Information: </h4>
      <strong>Company: </strong><p><%= bid.contractor.company %></p>
      <strong>Contractor's Name: </strong><p><%= bid.contractor.first_name %></p>
      <p><%= button_to 'Award Bid', bid_award_path(bid), method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></p>
    </div>
    </div>
    </div>
    <% end %>
    </div>

  <h4>Bids You've Awarded</h4>

  <div class="requests">
    <% current_user.bids.each do |bid, approved| %>
  <% next unless bid.approved == true %>
  <div class="request">
    <div class="thumbnail">
    <div class="caption">
      <strong>Request: <%= link_to bid.maintenance_request.title, maintenance_request_path(bid.maintenance_request) %></strong><br></br>
      <strong>Request Created At: </strong><p><%= bid.created_at.strftime("%F %H:%M") %></p>
      <strong>Cost of Job: </strong><p><%= number_to_currency(bid.price) %></p>
      <strong>Contractor's Availability: </strong><p><%= bid.availability %></p>
      <strong>Other Notes: </strong><p><%= bid.notes %></p>
      <h4>Contractor Information: </h4>
      <strong>Company: </strong><p><%= bid.contractor.company %></p>
      <strong>Contractor's Name: </strong><p><%= bid.contractor.first_name %></p>

  </div>
  </div>
  </div>
  <% end %>
  </div>

<h4>Resolved Requests</h4>

<div class="requests">
  <% @maintenance_requests.each do |maintenance_request, resolved| %>
    <% next unless maintenance_request.resolved == true %>
<div class="request">
  <div class="thumbnail">
  <div class="caption">
    <strong>Created At: </strong><p><%= maintenance_request.created_at.strftime("%F %H:%M") %></p>
    <strong>Category: </strong><p><%= maintenance_request.category %></p>
    <strong>Title: </strong><p><%= maintenance_request.title %></p>
    <strong>Description: </strong><p><%= maintenance_request.description %></p>
    <strong>Property: </strong><p><%= maintenance_request.property.street_1 %></p>
    <p><%= link_to 'View Potential Contractors', maintenance_request %></p>
    <p><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></p>
    <p><%= button_to 'Re-open Request', resolve_maintenance_request_path(maintenance_request), method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></p>
</div>
</div>
</div>
<% end %>

</div>

<% elsif current_contractor %>

<p id="notice"><%= notice %></p>
<div class="title-container">
<h1>Maintenance Requests</h1>
</div>


<h4>Requests Open for Bid</h4>
<div class="requests">
  <% @maintenance_requests.each do |maintenance_request, resolved| %>
    <% next unless maintenance_request.resolved == false && maintenance_request.bid_ids.any?{|x| current_contractor.bid_ids.include?(x)} == false && maintenance_request.contractor_id == nil %>
<div class="request">
  <div class="thumbnail">
  <div class="caption">
    <strong>Created At: </strong><p><%= maintenance_request.created_at.strftime("%F %H:%M") %></p>
    <strong>Category: </strong><p><%= maintenance_request.category %></p>
    <strong>Title: </strong><p><%= maintenance_request.title %></p>
    <strong>Description: </strong><p><%= maintenance_request.description %></p>
    <strong>Request Zip Code: </strong><p><%= maintenance_request.property.zipcode %></p>
    <p><%= link_to 'Bid on Job', new_maintenance_request_bid_path(maintenance_request.id), class: "btn btn-default" %></p>
  </div>
  </div>
  </div>
  <% end %>
  </div>

  <h4>Jobs You've Bid On</h4>
  <div class="requests">
    <% current_contractor.bids.each do |bid| %>
      <% next unless bid[:approved] == false && bid.maintenance_request.resolved == false %>
  <div class="request">
    <div class="thumbnail">
    <div class="caption">
      <strong>Title: </strong><p><%= bid.maintenance_request.title %></p>
      <strong>Category: </strong><p><%= bid.maintenance_request.category %></p>
      <strong>Description: </strong><p><%= bid.maintenance_request.description %></p>
      <strong>Bid Amount: </strong><p><%= number_to_currency(bid.price) %></p>
      <strong>Potential Payout: </strong><p><%= number_to_currency(bid.payout) %></p>
  </div>
  </div>
  </div>
  <% end %>
  </div>


<h4>Jobs You've Been Awarded</h4>
<div class="requests">
  <% current_contractor.bids.each do |bid| %>
    <% next unless bid[:approved] == true && bid.maintenance_request.resolved == false %>
<div class="request">
  <div class="thumbnail">
  <div class="caption">
    <strong>Created At: </strong><p><%= bid.maintenance_request.created_at.strftime("%F %H:%M") %></p>
    <strong>Category: </strong><p><%= bid.maintenance_request.category %></p>
    <strong>Title: </strong><p><%= bid.maintenance_request.title %></p>
    <strong>Description: </strong><p><%= bid.maintenance_request.description %></p>
    <strong>Property: </strong><p><%= bid.maintenance_request.property.street_1 %></p>
    <p><%= link_to 'View This Job', maintenance_request_path(bid.maintenance_request), class: "btn btn-default" %></p>
    <p><%= link_to 'Mark Request Complete', resolve_maintenance_request_path(bid.maintenance_request), method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></p>
</div>
</div>
</div>
<% end %>
</div>

<h4>Your Completed Jobs</h4>

<div class="requests">
  <% @maintenance_requests.each do |maintenance_request, resolved| %>
    <% next unless maintenance_request[:contractor_id] == current_contractor.id && maintenance_request.resolved == true  %>
<div class="request">
  <div class="thumbnail">
  <div class="caption">
    <strong>Created At: </strong><p><%= maintenance_request.created_at.strftime("%F %H:%M") %></p>
    <strong>Category: </strong><p><%= maintenance_request.category %></p>
    <strong>Title: </strong><p><%= maintenance_request.title %></p>
    <strong>Description: </strong><p><%= maintenance_request.description %></p>
</div>
</div>
</div>
<% end %>
</div>

<% end %>
