<% if current_user %>
<p id="notice"><%= notice %></p>
<div class="title-container">
  <h1>Request ID: <%= @maintenance_request.id %></h1>
  <%= link_to 'Edit Request', edit_maintenance_request_path(@maintenance_request), class: "btn btn-default" %><br></br>
  <%= link_to 'Back to All Requests', maintenance_requests_path, class: "btn btn-default" %>
</div>
<p>
  <strong>Category:</strong>
  <%= @maintenance_request.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @maintenance_request.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @maintenance_request.title %>
</p>

<p>
  <strong>Status:</strong>
  <% if @maintenance_request.resolved %>
  Resolved
  <% else %>
  Unresolved
  <% end %>
</p>

<p>
  <strong>Property:</strong>
  <%= link_to @maintenance_request.property.street_1, property_path(@maintenance_request.property) %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% if @maintenance_request.photos.attached? %>
  <% @maintenance_request.photos.each do |photo| %>
  <image class="mr_image" src="<%=(url_for(photo))%>">
  <%= link_to 'Remove Image', delete_photo_attachment_maintenance_request_path(id: photo.id, request_id: @maintenance_request.id),
            method: :delete,
              data: { confirm: 'Are you sure?' } %><br></br>
  <% end %>
  <% end %>
</p>

<strong>Potential Contractors for the Job:</strong><br></br>
<div class="contractors">
  <% @yelp.each do | yelp | %>
  <div class="contractor">
    <div class="thumbnail">
    <div class="caption">
  <strong>Name: </strong><em><%= yelp["name"] %></em><br>
  Rating: <%= yelp["rating"] %> rating with <%= yelp["review_count"] %> reviews on Yelp.<br>
  Phone: <%= yelp["display_phone"] %><br></br>
  </div>
  </div>
  </div>
  <% end %>
</div>




<% elsif current_contractor %>

<p id="notice"><%= notice %></p>
<div class="title-container">
  <h1>Request ID: <%= @maintenance_request.id %></h1>
  <%= link_to 'Mark Request Complete', resolve_maintenance_request_path(@maintenance_request), method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>
<p>
  <strong>Category:</strong>
  <%= @maintenance_request.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @maintenance_request.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @maintenance_request.title %>
</p>

<p>
  <strong>Status:</strong>
  <% if @maintenance_request.resolved %>
  Resolved
  <% else %>
  Unresolved
  <% end %>
</p>

<p>
  <strong>Property Location:</strong>
  <%= @maintenance_request.property.street_1 %> <%= @maintenance_request.property.street_2 %>, <%= @maintenance_request.property.city %>, <%= @maintenance_request.property.state %>, <%= @maintenance_request.property.zipcode %>
</p>

<p>
  <strong>Photos:</strong><br>
<% if @maintenance_request.photos.attached? %>
  <% @maintenance_request.photos.each do |photo| %>
  <image class="mr_image" src="<%=(url_for(photo))%>">
  <% end %>
<% end %>
</p>

<% end %>
