<h1>New Bid for "<%= @maintenance_request.title %>"</h1>
<p>Description: <%= @maintenance_request.description %></p>
<p>Zip Code: <%= @maintenance_request.property.zipcode %></p>

<%= render 'form', bid: @bid %>

<%= link_to 'Back', bids_path %>
