<p id="notice"><%= notice %></p>
<div class="title-container">
<h1>Properties</h1>
<%= link_to "Add Property", new_property_path, class: "btn btn-default" %>
</div>


<div class="properties">
  <% @properties.each do |property| %>
    <div class="property">
      <div class="thumbnail">
      <div class="caption">
      <h3><%= property.street_1 %> <%= property.street_2 %></h3>
      <strong>City: </strong><p><%= property.city %></p>
      <strong>State: </strong><p><%= property.state %></p>
      <strong>Zip Code: </strong><p><%= property.zipcode %></p>
      <strong>Purchase Date: </strong><p><%= property.purchase_date %></p>
      <strong>Purchase Price: </strong><p><%= property.purchase_price %></p>
      <p><%= link_to 'View Details', property %></p>
      <p><%= link_to 'Edit', edit_property_path(property) %></p>
      <p><%= link_to 'Delete Property', property, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    </div>
    </div>
        <% end %>
</div>
