<p id="notice"><%= notice %></p>

<p>
  <strong>Street 1:</strong>
  <%= @property.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @property.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @property.zipcode %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @property.purchase_date %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @property.purchase_price %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
