<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SamePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width-device-width, initial-scale=1" >
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to image_tag("transparentsamepage.png", :size => '135x90'), root_path %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to 'Profile', user_path(current_user) %></li>
              <li><%= link_to 'Properties', properties_path %></li>
              <li><%= link_to 'Tenants', tenants_path %></li>
              <li><%= link_to 'Maintenance Requests', maintenance_requests_path %></li>
              <li><%= link_to 'Log Out', logout_path %></li>
            <% else %>
              <%= link_to 'Get started', signup_path, class: "btn btn-default signup" %>
              <%= link_to 'Log In', login_path, class: "btn btn-default" %>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container">
    <%= yield %>
    </section>
  </body>
</html>
